 <!-- The Modal -->
  <div id="myModalUp" class="modal col-3 md-3">

  <!-- Modal content -->
  <div class="modal-content container">
    <div class="modal-header">
      <h2 class="text-center">Sign up</h2>
      <button type="button" class="close-up" data-dismiss="modal" aria-hidden="true">
           &times;       
      </button>
    </div>
    <div class="modal-body">  
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <div class="email-container">
          <%= f.text_field :email, :class =>"form-control",placeholder: "Email", value:"" %>
        </div>
        <div class="password-container">
          <%= f.password_field :password,:label =>"Password", :class =>"form-control", placeholder:"Password", value:""%>
        </div>
        <div class="login-container">
          <br/>
          <%= f.submit 'Login', :class =>"form-control btn btn-info" %>
        </div>
        <div class="check-container">
          <br/>
          <%= f.check_box :remember_me, label: "Remember me", value: "true" %>
          <%= f.label :remember_me %>
          <%= link_to "Forgot your password?", new_password_path(:user) %>
        </div>
      <% end %>
    </div>
  </div>

</div>